section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

section p{
    width: 500px;
    text-align: center;
    background-color: red;
    border-radius: 1em;
    color: white;
    padding: 20px;
}

#map{
    height: 500px;
}

#acces{
    text-align: center;
    height: 500px;
    width: 45%;
}

.slider {
    max-width: 500px;
    overflow: hidden;
}

.slides{
    width: calc(500px * 3);
    animation: glisse 10s infinite;
}

.slide{
    float: left;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    23% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    56% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    90% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}