
header, footer{
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    list-style-type:none;
    text-align:center;
    margin: auto;
}

#menu li {
    padding: 10px;
}

#menu  li {
    list-style-type: none;   
}

#menu ul {
    position: absolute;
    background-color:antiquewhite;
}

#menu pre{
    margin: 0;
}

#menu a{
    display:block;
    text-decoration:none;
    font-size: large;
    font-weight: bold;
    color:#2397bc;
}
    
#menu li a:hover {
    font-style: italic;
}
    
.sous{
    display:none;
    z-index: 2;
}

#menu li ul a {
    text-align: left;
    font-size:small;
}
   
#menu  li:hover ul {
    display:block;
    width: auto;
}

footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    color: white;
    background-color:darkslategrey;
    font-size:small;
}

footer article {
    display: flex;
}

footer article p{
    margin:0 10px ;
}
