body{
    font-family: Arial, Helvetica, sans-serif;
}

#mini-logo{
    float:left;
    width: auto;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    list-style-type:none;
    text-align:center;
}

#menu li {
    padding: 8px;
}

#menu  li {
    list-style-type: none;   
}

#menu ul {
    position: absolute;
    background-color:antiquewhite;
}

#menu pre{
    margin: 0;
}

#menu a{
    display:block;
    text-decoration:none;
    font-size: large;
    font-weight: bold;
    color:#2397bc;
}
    
#menu li a:hover {
    font-style: italic;
}
    
.sous{
    display:none;
    z-index: 2;
}

#menu li ul a {
    text-align: left;
    font-size:small;
}
   
#menu  li:hover ul {
    display:block;
    width: auto;
}

footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    color: white;
    background-color:#26272B;
    font-size:small;
    align-items: center;
}

footer article {
    display: flex;
}

footer article p{
    margin:0 10px ;
}


#reseaux-sociaux img{
    scale: 1;
    transition: scale .4s;
    margin: 0 10px
}

#reseaux-sociaux img:hover{
    scale: 1.5;
}
