/* Ce fichier CSS est inclu dans toutes les pages sauf la page d'accueil qui a une mise en page un peu plus particulière */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
}

.img-resp{
    width: 70%;
    height: auto;
    object-fit: cover;
    margin: 0 15%;
}

@media all and (max-width: 980px){
    .img-resp{
        width: 90%;
        margin: 0 5%;
    }
    
}

.button-list{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

.button-list img{
    transition: scale .4s;
}

.button-list img:hover{
    scale: 1.1;
}