#liste-sports{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

h1{
    text-align: center;
}

table{
    width: 90%;
    margin: 40px 5% 0 5%;
    border-collapse: collapse;
    text-align: center;
}

td, th{
    border: 1px solid #333;
    margin: 0;
    
}

thead{
    background-color: orange;
}